@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background: url("../assets/background/wp5261265-marvel-laptop-wallpapers.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bg-image-gray{
    background: rgba(0, 0, 0, 0.6);
}


